.titulo-secao {
    font-family: "Quando", serif;
    font-size: 36px;
    text-align: center;
    margin: 30px 0;
    color: rgba(253, 78, 15, 0.9);
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.galeria img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.galeria img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .titulo-secao {
        font-size: 28px;
        margin: 20px 0;
    }

    .galeria {
        padding: 10px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .galeria img {
        height: 200px;
    }
}


@media (max-width: 480px) {
    .titulo-secao {
        font-size: 24px;
    }

    .galeria img {
        height: 180px;
    }
}
